@page "/"

<PageTitle>Index</PageTitle>

<div><a class="btn btn-lg btn-primary" href="blazorcrudgeneration">CRUD UI Generation</a></div>
<hr>
<div>
    <img src="/images/DynamicCRUD.png" alt="screenshot" width="1000" />
</div>