@page "/"

<PageTitle>Edit Table</PageTitle>

<h1>Hello!</h1>

<p>
Welcome to Edit Table.
</p>

<p>
    This application should be able to point to any SQL Server database table and do rudimentary editing.
</p>

<p> Click Dynamic Table to get started.</p>

<p>The application will list all database tables that are in the default connection, from the apps settings file.</p>

<p> <strong>Note</strong> Use this at your own risk, Only use on development/testing data.</p>
